# This is a template .gitignore file for git-managed Joomla projects.
#
# Fact: you don't want Joomla core files, or your server-specific
# configuration files etc., in your project's repository. You just don't.
#
# Solution: stick this file up your repository root (which it assumes is
# also the Joomla root directory) and add exceptions for any plugins,
# themes, and other directories that should be under version control.
#
# See the comments below for more info on how to add exceptions for your
# content. Or see git's documentation for more info on .gitignore files:
# http://kernel.org/pub/software/scm/git/docs/gitignore.html
 
# Ignore everything in the root except the "modules", "plugins", and
# "templates" and  directories.
/*
!.gitignore
!modules/
!plugins/
!templates/

# Ignore everything in the "modules" directory, except the modules you
# specify (see the commented-out examples for hints on how to do this.)
modules/*
# ! modules/my-single-file-plugin.php
# ! modules/my-module-directory/

# Ignore everything in the "plugins" directory, except the plugins you
# specify (see the commented-out examples for hints on how to do this.)
plugins/*
# !plugins/my-single-file-plugin.php
# !plugins/my-plugin-directory/
 
# Ignore everything in the "templates" directory, except the templates you
# specify (see the commented-out example for a hint on how to do this.)
templates/*
!templates/my-theme-directory/